* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:spotify-circular, Helvetica, Arial, sans-serif;
}

nav div a img{
    width: 150px;
    height: 100px;
    transition: all .3s;
}
nav div a img:hover{
    transform: scale(1.1);
}

main {
    background-color: rgba(248,249,250,255);
}

h1{
    text-align: center;
}

.vehicleForm {
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    padding:10px;
    margin: auto;
    width: 60%;
    background-color: white;
}

.vehicleTable {
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 60%;
    margin-bottom: 80px;
    margin-top: 40px;
    background-color: white;
}

body > table{
   width:  80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color:  rgb(52, 211, 153, .5);
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  rgba(55, 59, 111, 0.4);
}

input[type=submit] {
    width: 10%;
    background-color: rgb(79, 70, 229);
    color: white;
    padding: 5px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.end{
    background-color: rgba(9, 7, 53);
}

.gridContainerThree {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-template-rows: 100px ;
    color: white;
    padding: 80px 150px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
}

.top{
    color: grey;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 16px;
}

ul li a:hover{
    color: rgb(79, 70, 229);
    transition: 0.3s;
}

.brand img{
    width: 140px;
}

ul img{
    width: 70px;
    height: 70px;
    display: inline-block;
    padding-top: 10px;
}

.ch a{
    text-decoration: none;
    color: grey;
    font-size: 12px;

}

.ch li{
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding-left: 20px;
}

.ch li a{
    padding-left: 5px;
}

div li img {
    width: 15px;
    height: 15px;
    padding-left: 50px;
}

span li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

span li{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot li{
    display: inline-block;
    font-size: 11.5px;
    padding-top: 20px;
}


span li a:hover{
    text-decoration: none;
    color: rgb(52, 211, 153);
    transition: 0.3;
}

.bot{
    padding-left: 440px;
    padding-bottom: 60px;
    display: inline-block;
    font-weight: 400;
}


@media only screen and (max-width: 1200px) {
    input[type=submit] {
        
        width: 100%;
        background-color: rgb(79, 70, 229);
        color: white;
        padding: 5px 9px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .vehicleTable {
        text-align: center;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        width: 80%;
        margin-top: 40px;
        margin-bottom: 80px;
        background-color: white;
    }
    .gridContainerThree {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px ;
        grid-template-rows: 150px ;
        color: white;
        padding: 80px 150px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 500;
    }
    
}

  @media only screen and (max-width: 880px) {
    .vehicleTable {
        text-align: center;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: auto;
            margin-top: 40px;
        width: 95%;
        margin-bottom: 80px;
        background-color: white;
    }

    .gridContainerThree {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px ;
        grid-template-rows: 300px ;
        color: white;
        padding-left: 150px;
        line-height: 40px;
        font-size: 10px;
        font-weight: 500;
    }

    .brand img{
        width: 80px;
    }

    div li img {
        width: 15px;
        height: 15px;
        padding-left: 0px;
    }
    
    span li a{
        text-decoration: none;
        color: white;
        padding: 0px;
    }
  }

  @media only screen and (max-width: 580px) {
    .vehicleTable {
        text-align: center;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
        margin: auto;
            margin-top: 40px;
        width: 95%;
        margin-bottom: 80px;
        background-color: white;
    }

    .gridContainerThree {
        display: grid;
        grid-template-columns: 90px 90px 90px 90px ;
        grid-template-rows: 300px ;
        padding-left: 10px;
        color: white;
        line-height: 40px;
        font-size: 10px;
        font-weight: 500;
    }

    tbody{
        font-size: 10px;
    }

    thead {
        font-size: 10px;
    }

    .brand img{
        width: 80px;
    }

    div li img {
        width: 15px;
        height: 15px;
        padding-left: 0px;
    }
    
    span li{
        text-decoration: none;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }